.product_main {
  max-width: 500px;
  flex-basis: 350px;
  text-align: justify;
  display: flex;
  /* flex: 1; */
  flex-direction: column;
  padding: auto;
  justify-content: center;
  /* align-self: flex-start; */

  border-radius: 10px;
  max-height: 350px;
  min-height: 350px;
  padding: 7px;
  margin: 0px auto;
}

.img_style {
  width: 220px;
  flex: 1 1 200px;
  object-fit: contain;
  gap: auto;
  padding: 20px 5px;
  max-height: 245px;
  margin: auto;
}

.product_name {
  width: 185px;
  text-wrap: stable;
  text-align: left;
}

@media screen and (max-width: 576px) {
  .product_main {
    max-width: 400px;
    min-width: 150px;
  }

  .img_style {
    flex: 1 1 140px;
  }

  .product_name {
    width: 145px;
  }
}

.name_section {
  display: flex;
  align-items: center;
  height: 100px;
  margin: auto;
}

[name*="heart"] {
  margin: 2px;
}

ul,
div,
li {
  margin: 0px;
  padding: 0px;
}

.highlight {
  font-weight: 800;
}
